node_modules
npm-debug.log
.git
.gitignore
README.md
LICENSE
.env
.DS_Store
*.md
install.sh
LICENSE
README.md
README.DOCKER.md

# Frontend specific
frontend/node_modules
frontend/.env*

# Backend specific
backend/node_modules
backend/uploads
backend/users.db
backend/.env*

# IDE files
.vscode
.idea

#model
whl/AudioClassification-Pytorch/model